services:
  postgres_app:
    image: postgres:17
    container_name: postgres_app
    environment:
      POSTGRES_DB: "${APP_POSTGRES_DB}"
      POSTGRES_USER: "${APP_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${APP_POSTGRES_PASSWORD}"
    ports:
      - "${APP_POSTGRES_PORT}:5432"
    volumes:
      - postgres_app_data:/var/lib/postgresql/data 

  postgres_keycloak:
    image: postgres:17
    container_name: postgres_keycloak
    environment:
      POSTGRES_DB: "${KC_POSTGRES_DB}"
      POSTGRES_USER: "${KC_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${KC_POSTGRES_PASSWORD}"
    ports:
      - "${KC_POSTGRES_PORT}:5432"
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "${MINIO_API_PORT}:9000"   
      - "${MINIO_PORT}:9001"    
    environment:
      MINIO_ROOT_USER: "${MINIO_ACCESS_KEY}"
      MINIO_ROOT_PASSWORD: "${MINIO_SECRET_KEY}"
    volumes:
      - ./minio_data:/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres_keycloak
      KC_DB_URL_DATABASE: "${KC_POSTGRES_DB}"
      KC_DB_USERNAME: "${KC_POSTGRES_USER}"
      KC_DB_PASSWORD: "${KC_DB_PASSWORD}"
      KC_HOSTNAME: "${KC_HOSTNAME}"
      KEYCLOAK_ADMIN: "${KC_ADMIN}"
      KEYCLOAK_ADMIN_PASSWORD: "${KC_ADMIN_PASSWORD}"
    ports:
      - "${KC_PORT}:8080"
    depends_on:
      - postgres_keycloak
    networks:
      - keycloak_net

volumes:
  postgres_keycloak_data:
  postgres_app_data:

networks:
  keycloak_net: