version: '3.8'

services:
  postgres_app:
    image: postgres:17
    container_name: postgres_app
    environment:
      POSTGRES_DB: "${APP_POSTGRES_DB}"
      POSTGRES_USER: "${APP_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${APP_POSTGRES_PASSWORD}"
    ports:
      - "${APP_POSTGRES_PORT}:5432"
    volumes:
      - postgres_app_data:/var/lib/postgresql/data
    networks:
      - app_net

  postgres_keycloak:
    image: postgres:17
    container_name: postgres_keycloak
    environment:
      POSTGRES_DB: "${KC_POSTGRES_DB}"
      POSTGRES_USER: "${KC_POSTGRES_USER}"
      POSTGRES_PASSWORD: "${KC_POSTGRES_PASSWORD}"
    ports:
      - "${KC_POSTGRES_PORT}:5432"
    volumes:
      - postgres_keycloak_data:/var/lib/postgresql/data
    networks:
      - app_net

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "${MINIO_API_PORT}:9000"   
      - "${MINIO_PORT}:9001"    
    environment:
      MINIO_ROOT_USER: "${MINIO_ACCESS_KEY}"
      MINIO_ROOT_PASSWORD: "${MINIO_SECRET_KEY}"
    volumes:
      - minio_data:/data
    networks:
      - app_net

  keycloak:
    image: quay.io/keycloak/keycloak:26.3.2
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres_keycloak
      KC_DB_URL_DATABASE: "${KC_POSTGRES_DB}"
      KC_DB_USERNAME: "${KC_POSTGRES_USER}"
      KC_DB_PASSWORD: "${KC_POSTGRES_PASSWORD}"
      KC_HOSTNAME: "${KC_HOSTNAME}"
      KEYCLOAK_ADMIN: "${KC_ADMIN}"
      KEYCLOAK_ADMIN_PASSWORD: "${KC_ADMIN_PASSWORD}"
    ports:
      - "${KC_PORT}:8080"
    depends_on:
      - postgres_keycloak
    volumes:
      - ./keycloak_setup:/opt/keycloak/data/import
    networks:
      - app_net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zip_checker_app
    ports:
      - "${APP_PORT}:8000"
    environment:
      - APP_POSTGRES_URL=postgresql+asyncpg://${APP_POSTGRES_USER}:${APP_POSTGRES_PASSWORD}@postgres_app:5432/${APP_POSTGRES_DB}
      - APP_POSTGRES_PORT=5432
      - KC_POSTGRES_URL=postgresql+asyncpg://${KC_POSTGRES_USER}:${KC_POSTGRES_PASSWORD}@postgres_keycloak:5432/${KC_POSTGRES_DB}
      - KC_POSTGRES_PORT=5432
      - KC_HOSTNAME=keycloak
      - KC_PORT=8080
      - MINIO_URL=minio
      - MINIO_PORT=9001
      - MINIO_API_PORT=9000
      - APP_HOST=0.0.0.0
      - APP_PORT=8000
    depends_on:
      - postgres_app
      - postgres_keycloak
      - minio
      - keycloak
    command: >
      sh -c "
        echo 'Waiting for database...' &&
        sleep 20 &&
        echo 'Running migrations...' &&
        alembic -c /app/alembic.ini upgrade head &&
        echo 'Starting application...' &&
        python src/main.py
      "

    networks:
      - app_net

volumes:
  postgres_keycloak_data:
  postgres_app_data:
  minio_data:

networks:
  app_net:
    driver: bridge